<!DOCTYPE html>
<html>
    <head>
        <title>THE BLOG APP</title> 
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
                <div class="header item"><i class="icon caret square right outline"></i>Blogs On! </div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">Add Blogs</a>
        </div>
