i.icon{
    font-size:2em;
}

.container.main{
    margin-top:5em;
}

.delete{
    display:inline;
}

#footertext{
    background:grey;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color:white;
    padding:2px;
    text-align:center;
}

#footertext span{
    color:red;
    font-size: large;
}
