i.icon{
    font-size:2em;
}

.container.main{
    margin-top:5em;
}

.delete{
    display:inline;
}

#footertext{
    background:grey;
    margin-bottom:0px; 
    margin-top:5px;
    color:white;
    padding:2px;
    text-align:center;
}
